html {
  --primary-background: rgba(0, 0, 0, 0.87);
  --lighter-background: #282a3a;
  --button-color: purple;
  --link-color: #c69749;
  --shadow-color: #c69749;
  --primary-text-color: white;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: var(--lighter-background);
  /* border: 4px solid red; */
}

.todo-list-container {
  width: 95%;
  max-width: 1400px;
  margin: 1em auto;
  display: grid;
  /* Number of columns determined by auto-fit.
  minimum size of each column is 14em and the maximum size is 1fr */
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1.5em;
  grid-auto-flow: row;
}

@media (min-width: 52em) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--lighter-background);
  /* x y blur spread */
  box-shadow: 2px 2px 12px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.duration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.single-todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.single-todo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lighter-background);
  width: 40%;
  box-shadow: 1px 1px 10px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 20px;
}

label {
  margin: 5px;
  padding: 5px;
}

input {
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 350px;
  border-radius: 10px;
  font-size: 20px;
}

textarea {
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  font-size: 20px;
}

a {
  color: var(--link-color);
  margin: 10px;
}

button {
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.app-footer {
  margin-top: 1em;
  padding: 1em;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lighter-background);
}
